{
  "openapi": "3.0.0",
  "info": {
    "title": "OpenApi definition",
    "description": "This service will be used to support the AOV product sales process of Avero",
    "contact": {
      "email": "team-integratiesap@achmea.onmicrosoft.com"
    },
    "version": "2021_02",
    "x-versionHistory": [
      {
        "x-author": "Maarten Wolleswinkel",
        "x-versionDescription": "Changed blankedAgreementDescription enumeration value KNMvD to KNMVD.",
        "x-versionDate": "2021-07-05"
      }
    ]
  },
  "servers": [
    {
      "url": "https://tst-b2b-api.achmea.nl/ava/psi/propositieaov/v1/*",
      "description": "Achmea API Gateway Test"
    },
    {
      "url": "https://acc-b2b-api.achmea.nl/ava/psi/propositieaov/v1/*",
      "description": "Achmea API Gateway Acceptatie"
    },
    {
      "url": "https://b2b-api.achmea.nl/ava/psi/propositieaov/v1/*",
      "description": "Achmea API Gateway Productie"
    }
  ],
  "paths": {
    "/policy-premium/quick-quote": {
      "post": {
        "tags": [
          "quick-quote"
        ],
        "description": "Calculate premium",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/calculateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calculateResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    },
    "/policies/new": {
      "post": {
        "tags": [
          "createPolicy"
        ],
        "description": "Create policy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createPolicyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "entityType": {
        "type": "string",
        "enum": [
          "disability",
          "additionally",
          "operatingExpenses",
          "policyDetails",
          "insuredPerson",
          "income",
          "policyHolder",
          "intermediary",
          "any",
          "company",
          "contact",
          "underwritingQuestions",
          "deposit",
          "transaction",
          "default"
        ]
      },
      "jaNeeType": {
        "type": "string",
        "enum": [
          "J",
          "N"
        ]
      },
      "process": {
        "type": "object",
        "properties": {
          "entityType": {
            "description": "Unique identification of an entity. (NL: De unieke identificatie van een entiteit.)",
            "type": "string",
            "example": "transaction"
          },
          "statusType": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "dateType": {
        "type": "string",
        "format": "date"
      },
      "calculateRequest": {
        "required": [
          "commonFunctional",
          "commonTechnical",
          "policy"
        ],
        "type": "object",
        "properties": {
          "commonFunctional": {
            "$ref": "#/components/schemas/calculateCommonFunctional"
          },
          "policy": {
            "maxItems": 2,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/calculateRequestPolicy"
            }
          },
          "commonTechnical": {
            "$ref": "#/components/schemas/commonTechnical"
          }
        },
        "additionalProperties": false
      },
      "calculateRequestPolicy": {
        "required": [
          "coverage",
          "entityType",
          "includePremiumDevelopmentOverview",
          "labelDescription",
          "paymentTermInMonths",
          "sufficientInformationForIndicativePremium"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "applicationDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "paymentTermInMonths": {
            "$ref": "#/components/schemas/paymentTermInMonths"
          },
          "includePremiumDevelopmentOverview": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "effectiveDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "discountScheme": {
            "$ref": "#/components/schemas/discountScheme"
          },
          "labelDescription": {
            "$ref": "#/components/schemas/labelDescription"
          },
          "blanketAgreementDescription": {
            "$ref": "#/components/schemas/blanketAgreementDescription"
          },
          "offerCalculationReferenceDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "companyProductDescription": {
            "$ref": "#/components/schemas/companyProductDescription"
          },
          "sufficientInformationForIndicativePremium": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "coverage": {
            "maxItems": 3,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/coverageRequest"
            }
          },
          "party": {
            "maxItems": 2,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/calculateRequestPolicyParty"
            }
          }
        },
        "additionalProperties": false,
        "description": "policy"
      },
      "createPolicyRequestPolicy": {
        "required": [
          "collectionMethod",
          "contractDurationInMonths",
          "coverage",
          "discountScheme",
          "effectiveDate",
          "entityType",
          "externalIndicative",
          "labelDescription",
          "paymentTermInMonths"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "applicationDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "paymentTermInMonths": {
            "$ref": "#/components/schemas/paymentTermInMonths"
          },
          "contractDurationInMonths": {
            "type": "integer"
          },
          "externalIndicative": {
            "type": "string"
          },
          "collectionMethod": {
            "type": "string"
          },
          "effectiveDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "discountScheme": {
            "$ref": "#/components/schemas/discountScheme"
          },
          "labelDescription": {
            "$ref": "#/components/schemas/labelDescription"
          },
          "blanketAgreementDescription": {
            "$ref": "#/components/schemas/blanketAgreementDescription"
          },
          "offerCalculationReferenceDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "companyProductDescription": {
            "type": "string"
          },
          "transferredPolicy": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "processingCode": {
            "$ref": "#/components/schemas/processingCode"
          },
          "coverage": {
            "minItems": 1,
            "maxItems": 3,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/coverageRequest"
            }
          },
          "party": {
            "minItems": 1,
            "maxItems": 2,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/createPolicyRequestPolicyParty"
            }
          }
        },
        "additionalProperties": false,
        "description": "policy"
      },
      "coverageRequest": {
        "required": [
          "insuredSum",
          "benefitDurationInMonths",
          "endAgeRiskCoverInYears",
          "endAge",
          "carrierCoverageCode"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "percentageBenefitAtCommencement": {
            "$ref": "#/components/schemas/percentageBenefitAtCommencement"
          },
          "incapacityBenefitsCriterion": {
            "$ref": "#/components/schemas/incapacityBenefitsCriterion"
          },
          "basisForPaymentPercentage": {
            "$ref": "#/components/schemas/basisForPaymentPercentage"
          },
          "endAgeRiskCoverInYears": {
            "$ref": "#/components/schemas/endAgeRiskCoverInYears"
          },
          "endAge": {
            "$ref": "#/components/schemas/endAge"
          },
          "indexMethod": {
            "$ref": "#/components/schemas/indexMethod"
          },
          "indexPercentage": {
            "$ref": "#/components/schemas/indexPercentage"
          },
          "indexationAtBenefitStart": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "indexedInsuredAmount": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "carrierCoverageCode": {
            "$ref": "#/components/schemas/carrierCoverageCode"
          },
          "rateType": {
            "$ref": "#/components/schemas/rateType"
          },
          "benefitDurationInMonths": {
            "$ref": "#/components/schemas/benefitDurationInMonths"
          },
          "insuredSum": {
            "$ref": "#/components/schemas/insuredSum"
          },
          "waitingTimeMonthsPayment": {
            "$ref": "#/components/schemas/waitingTimeMonthsPayment"
          },
          "annuityExcessOver80PercentDescription": {
            "type": "string"
          },
          "processingCode": {
            "$ref": "#/components/schemas/processingCode"
          }
        },
        "additionalProperties": false,
        "description": "coverage"
      },
      "createPolicyRequestPolicyParty": {
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "birthDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "surname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "genderOrLegalPersonType": {
            "type": "string"
          },
          "collectionAccountIban": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "urlProfile": {
            "type": "string"
          },
          "telephoneNumber": {
            "type": "string"
          },
          "mobile": {
            "type": "string"
          },
          "nameExtraLine": {
            "type": "string"
          },
          "initials": {
            "type": "string"
          },
          "prefixes": {
            "type": "string"
          },
          "processingCode": {
            "$ref": "#/components/schemas/processingCode"
          },
          "address": {
            "$ref": "#/components/schemas/address"
          },
          "partyDetails": {
            "maxItems": 2,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/createPolicyPartyDetails"
            }
          }
        },
        "additionalProperties": false,
        "description": "party"
      },
      "calculateRequestPolicyParty": {
        "required": [
          "birthDate"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "birthDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "partyDetails": {
            "maxItems": 2,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/calculateRequestPartyDetails"
            }
          }
        },
        "additionalProperties": false,
        "description": "party"
      },
      "commonTechnical": {
        "required": [
          "distributionChannelDescription",
          "viewType"
        ],
        "type": "object",
        "properties": {
          "distributionChannelDescription": {
            "type": "string"
          },
          "viewType": {
            "maxLength": 5,
            "minLength": 5,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "address": {
        "required": [
          "addressType",
          "houseNumber",
          "postalCode"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "description": "Unique identification of an entity. (NL: De unieke identificatie van een entiteit.)",
            "type": "string",
            "enum": [
              "default"
            ]
          },
          "addressType": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "houseNumber": {
            "type": "integer"
          },
          "houseNumberAddition": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "party": {
        "required": [
          "entityType"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "id": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "otherFirstNames": {
            "type": "string"
          },
          "startupBusiness": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "totalNumberOfStaff": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "underwriting": {
        "required": [
          "entityType",
          "disabilityInsurance"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "refusedPreviously": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "cancellationOfPriorInsurance": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "contactWithPoliceDescription": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "similarInsurancesElsewhereExplanation": {
            "type": "string"
          },
          "similarInsurancesElsewhereFirstYearInstalment": {
            "type": "number"
          },
          "disabilityInsurance": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "similarInsurancesElsewhereAfterFirstYear": {
            "type": "number"
          },
          "replaceExistingDisabilityCoverage": {
            "$ref": "#/components/schemas/jaNeeType"
          }
        },
        "additionalProperties": false
      },
      "calculateCommonFunctional": {
        "required": [
          "entityType",
          "dataCatalogVersion",
          "function",
          "functionVariant"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "dataCatalogVersion": {
            "type": "string"
          },
          "function": {
            "maxLength": 2,
            "type": "string"
          },
          "functionVariant": {
            "type": "string"
          },
          "senderCurrentAccount": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "createPolicyCommonFunctional": {
        "required": [
          "entityType",
          "dataCatalogVersion",
          "function",
          "functionVariant",
          "senderCurrentAccount",
          "senderReference"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "dataCatalogVersion": {
            "type": "string"
          },
          "functionVariant": {
            "type": "string"
          },
          "function": {
            "maxLength": 2,
            "type": "string"
          },
          "senderCurrentAccount": {
            "type": "string"
          },
          "senderReference": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "calculateResponse": {
        "type": "object",
        "properties": {
          "commonFunctional": {
            "$ref": "#/components/schemas/calculateCommonFunctional"
          },
          "commonTechnical": {
            "$ref": "#/components/schemas/commonTechnical"
          },
          "policy": {
            "$ref": "#/components/schemas/policyResponse"
          },
          "document": {
            "$ref": "#/components/schemas/document"
          },
          "process": {
            "$ref": "#/components/schemas/process"
          }
        },
        "additionalProperties": false
      },
      "createPolicyRequest": {
        "required": [
          "commonFunctional",
          "commonTechnical",
          "party",
          "policy",
          "underwriting"
        ],
        "type": "object",
        "properties": {
          "commonFunctional": {
            "$ref": "#/components/schemas/createPolicyCommonFunctional"
          },
          "policy": {
            "maxItems": 2,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/createPolicyRequestPolicy"
            }
          },
          "party": {
            "maxItems": 4,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/party"
            }
          },
          "underwriting": {
            "$ref": "#/components/schemas/underwriting"
          },
          "commonTechnical": {
            "$ref": "#/components/schemas/commonTechnical"
          }
        },
        "additionalProperties": false
      },
      "calculateRequestPartyDetails": {
        "required": [
          "incomeTypeDescription"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "incomeTypeDescription": {
            "$ref": "#/components/schemas/incomeTypeDescription"
          },
          "refKey": {
            "$ref": "#/components/schemas/refKey"
          },
          "occupationDescription": {
            "$ref": "#/components/schemas/occupationDescription"
          },
          "occupationExplanation": {
            "$ref": "#/components/schemas/occupationExplanation"
          },
          "workingHoursSpentAdministration": {
            "$ref": "#/components/schemas/workingHoursSpentAdministration"
          },
          "hoursDangerousWorkPerWeek": {
            "$ref": "#/components/schemas/hoursDangerousWorkPerWeek"
          },
          "workingHoursManualLabor": {
            "$ref": "#/components/schemas/workingHoursManualLabor"
          },
          "workingHoursPerWeek": {
            "$ref": "#/components/schemas/workingHoursPerWeek"
          },
          "workingHoursManagerialWork": {
            "$ref": "#/components/schemas/workingHoursManagerialWork"
          },
          "occupationClass": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "createPolicyPartyDetails": {
        "required": [
          "incomeTypeDescription"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "incomeTypeDescription": {
            "$ref": "#/components/schemas/incomeTypeDescription"
          },
          "workingHoursSpentAdministration": {
            "$ref": "#/components/schemas/workingHoursSpentAdministration"
          },
          "workingHoursManagerialWork": {
            "$ref": "#/components/schemas/workingHoursManagerialWork"
          },
          "workingHoursManualLabor": {
            "$ref": "#/components/schemas/workingHoursManualLabor"
          },
          "hoursDangerousWorkPerWeek": {
            "$ref": "#/components/schemas/hoursDangerousWorkPerWeek"
          },
          "descriptionOfOccupation": {
            "type": "string"
          },
          "occupationDescription": {
            "$ref": "#/components/schemas/occupationDescription"
          },
          "occupationExplanation": {
            "$ref": "#/components/schemas/occupationExplanation"
          },
          "expIncomeCurrentYear": {
            "type": "number"
          },
          "grossIncomeWagesLastYear": {
            "type": "number"
          },
          "grossIncomeWagesTwoYearsBack": {
            "type": "number"
          },
          "grossIncomeWagesThreeYearsBack": {
            "type": "number"
          },
          "grossAnnualIncome": {
            "type": "number"
          },
          "estimatedProfitBeforeTaxCurrentYear": {
            "type": "number"
          },
          "profitBeforeTaxOneYearAgo": {
            "type": "number"
          },
          "profitBeforeTaxTwoYearsAgo": {
            "type": "number"
          },
          "profitBeforeTaxThreeYearsAgo": {
            "type": "number"
          },
          "employmentType": {
            "type": "string"
          },
          "workingHoursPerWeek": {
            "type": "integer"
          },
          "expectedIncomeChangeDescription": {
            "type": "string"
          },
          "historicalIncomeExplanation": {
            "type": "string"
          },
          "profitBeforeTaxLastYearEstimated": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "profitBeforeTaxTwoYearsAgoEstimated": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "additionalFunctionsIncome": {
            "$ref": "#/components/schemas/jaNeeType"
          },
          "processingCode": {
            "$ref": "#/components/schemas/processingCode"
          },
          "occupationClass": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "coverageResponse": {
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "netAnnualPremium": {
            "$ref": "#/components/schemas/netAnnualPremium"
          },
          "totalInstalmentAmount": {
            "$ref": "#/components/schemas/totalInstalmentAmount"
          },
          "insuredSum": {
            "type": "number"
          },
          "financialTransaction": {
            "maxItems": 60,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/financialTransaction"
            }
          }
        },
        "additionalProperties": false
      },
      "policyResponse": {
        "required": [
          "coverage"
        ],
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "totalInstalmentAmount": {
            "$ref": "#/components/schemas/totalInstalmentAmount"
          },
          "netAnnualPremium": {
            "$ref": "#/components/schemas/netAnnualPremium"
          },
          "coverage": {
            "maxItems": 3,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/coverageResponse"
            }
          },
          "financialTransaction": {
            "maxItems": 60,
            "minItems": 1,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/financialTransaction"
            }
          }
        },
        "additionalProperties": false,
        "description": "policy"
      },
      "financialTransaction": {
        "type": "object",
        "properties": {
          "entityType": {
            "$ref": "#/components/schemas/entityType"
          },
          "yearIndication": {
            "type": "string"
          },
          "effectiveDate": {
            "$ref": "#/components/schemas/dateType"
          },
          "netAnnualPremium": {
            "$ref": "#/components/schemas/netAnnualPremium"
          }
        },
        "additionalProperties": false
      },
      "document": {
        "type": "object",
        "properties": {
          "entityType": {
            "description": "Unique identification of an entity. (NL: De unieke identificatie van een entiteit.)",
            "type": "string",
            "example": "default"
          },
          "fileName": {
            "type": "string"
          },
          "attachmentType": {
            "type": "string"
          },
          "refKey": {
            "type": "string"
          },
          "sequenceNumber": {
            "type": "integer"
          }
        },
        "additionalProperties": false
      },
      "error": {
        "type": "object",
        "properties": {
          "trackingId": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "source": {
            "type": "string"
          }
        }
      },
      "paymentTermInMonths": {
        "type": "integer",
        "enum": [
          1,
          3,
          12
        ]
      },
      "labelDescription": {
        "type": "string",
        "enum": [
          "04"
        ]
      },
      "blanketAgreementDescription": {
        "type": "string",
        "enum": [
          "BNA",
          "ZZP_NL",
          "KNMVD",
          "KNGF",
          "LHV",
          "KNOV",
          "KNMT",
          "BOOSTZ"
        ]
      },
      "companyProductDescription": {
        "type": "string"
      },
      "percentageBenefitAtCommencement": {
        "type": "number",
        "enum": [
          25,
          35,
          45,
          50,
          55,
          65,
          75,
          80
        ]
      },
      "incapacityBenefitsCriterion": {
        "type": "string",
        "enum": [
          "1",
          "2"
        ]
      },
      "basisForPaymentPercentage": {
        "type": "string",
        "enum": [
          "1",
          "2"
        ]
      },
      "endAgeRiskCoverInYears": {
        "type": "integer"
      },
      "endAge": {
        "type": "integer",
        "minimum": 55,
        "maximum": 68
      },
      "indexMethod": {
        "type": "string",
        "enum": [
          "V",
          "H"
        ]
      },
      "indexPercentage": {
        "type": "integer",
        "enum": [
          0,
          2,
          3
        ]
      },
      "carrierCoverageCode": {
        "type": "string"
      },
      "rateType": {
        "type": "string",
        "enum": [
          "C",
          "G"
        ]
      },
      "benefitDurationInMonths": {
        "type": "integer",
        "enum": [
          12,
          24,
          99
        ]
      },
      "insuredSum": {
        "type": "number",
        "minimum": 4000,
        "maximum": 250000
      },
      "waitingTimeMonthsPayment": {
        "type": "integer",
        "enum": [
          1,
          2,
          3,
          6,
          12,
          24
        ]
      },
      "incomeTypeDescription": {
        "type": "string",
        "enum": [
          "mainProfession",
          "sideProfession"
        ]
      },
      "refKey": {
        "type": "string",
        "enum": [
          "primaryIncome",
          "secondarIncome"
        ]
      },
      "occupationDescription": {
        "type": "string"
      },
      "occupationExplanation": {
        "type": "string"
      },
      "processingCode": {
        "type": "string"
      },
      "workingHoursSpentAdministration": {
        "type": "integer"
      },
      "hoursDangerousWorkPerWeek": {
        "type": "integer"
      },
      "workingHoursManualLabor": {
        "type": "integer"
      },
      "workingHoursPerWeek": {
        "type": "integer",
        "minimum": 1,
        "maximum": 99
      },
      "workingHoursManagerialWork": {
        "type": "integer"
      },
      "discountScheme": {
        "type": "string",
        "enum": [
          "INSTR",
          "LOYAL"
        ]
      },
      "netAnnualPremium": {
        "type": "string"
      },
      "totalInstalmentAmount": {
        "$ref": "#/components/schemas/totalInstalmentAmount"
      }
    }
  }
}